input[type-text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container1 {
    padding: 20px;
    border: outset;
    width: 35%;
    height: 100%;
    margin-left: 35%;
    margin-top: 10px;
}


#btn {
    float: left;
    width: 20%;
    cursor: pointer;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    margin-top: -10px;
}

.i1 {
    margin-left: 110px;
}
