input[type-text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container1 {
    padding: 20px;
    border: outset;
    width: 35%;
    height: 100%;
    margin-left: 35%;
}

.imgu {
    width: 200px;
    height: 200px;
}

#uImage {
    margin-left: 25%;
}
